<!-- Welcome to {{title}}
Hello {{user}}

{{product1.productName}} /** JavaScript büyük küçük harf duyarlı 

<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>*ngFor="" bunlara Directive denir. Directive ilgili html elementini manipüle etmemize yarıyor. 
    *ngFor="" şuan bulunduğun satırı tekrarla demek <li> yi tekrarlayacak. *ngFor="" foreach döngüsü burada products app.component.ts deki array 
      ismi product da takma isim yerine eleman, item yazabiliriz ama foreach da dizi çoğul isim olur takma isme onun tekilini veririz. let
    keyword'ü güzenli bir şekilde tiplerle çalışabilmemizi sağlıyor.
    components sağ tık Open in integrated terminal > ng g component product. ng> angular cli. g>generate-oluştur demek. component product adında component bu kod ile oluşturulur
</ul> -->
<!--inder.html içinde app-root içinde görünecek aşağıdaki componentler -->
<div class="container"> 

  <app-navi></app-navi>

  <div class="row">

    <div class="col-md-3">
      <app-category></app-category>
    </div>

    <div class="col-md-9">
      <app-product></app-product>
    </div>

  </div>

  <router-outlet></router-outlet>  

</div>

